.head{
    text-align: center;
    color: white;
    background-color: black;
    }
    .side{
        color:white;
        margin-bottom: 10px;
    }
    .side{
        margin-bottom: 50px;
    }
    .size{
        font-size: 30px;
    }
    // .gap{
    //     margin-bottom: 50px;
    // }